<main class="animes-container">
  <% @animes.each do |anime| %>
    <article class="anime-<%= anime.id %> animes">
      <h3 class="anime-title"><%= anime.japanese_title %> </h3>
      <%= image_tag(anime.poster_img_small, class: "img-small") %>
    </article>
  <% end %>
</main>
